body {
    font-family: 'Roboto', sans-serif;
    background: #dfdfdf;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 !important;
}

.margin-top-large {
    margin-top: 60px;
}

.margin-top-medium {
    margin-top: 30px;
}

.margin-top-small {
    margin-top: 20px;
}

table {
    background-color: #646363 !important;

    thead {
        background-color: #f7a600;
        color: black;

        & * {
            font-weight: bold;
        }
    }

    td {
        border-top: none !important;
    }
}

.input-group {
    input {
        border-radius: 0 !important;
        height: 3em !important;
        color: #646363;
        background: transparent;
        border: 2px solid white;
        border-right: none;
    }

    button {
        border-radius: 0 !important;
        border: 2px solid #646363;
        height: 3em !important;
        color: #f7a600;
        padding: .5rem 3rem !important;
        background: #646363;
    }
}
